body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: auto;
    background-color: #111;
}

.box {
    padding: 10px;
    display: inline-block;
    background-color: #eee;
    margin: 10px;
}

.name {
    font-size: 0.5em;
    font-weight: bolder;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #ddd;
}

.title {
    font-weight: bold;
    margin: 10px;
    color: white;
}

img {
    max-width: 150px;
    margin: 5px;
}